body{
    background-image: linear-gradient(180deg, #a6ffff 0, #a2edff 25%, #9dd5f2 50%, #96bed5 75%, #8ea8b9 100%);
}
img{
    width: 25%;
    height: 25%;
    border-radius: 50px;
    border:5px solid rgb(204, 0, 255);
}